/* Contenido Home (fondo en Layout, mismo en home/ranking/profile) */
.home-page {
  position: relative;
  min-height: 100%;
}

.home-page-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  min-height: 400px;
}

.home-page-content canvas {
  display: block;
  width: 100%;
  height: 100%;
}
